

  <div id="menuBannerContainer">
    <img src="http://www.ilovehongkong.hk/sites/www.ilovehongkong.hk/files/styles/home_hero_bs/public/iw1_pic1_53.jpg?itok=J6NXoYHW" id="menuBannerImg">
    <nav id="transparentNavbarmenu" class="navbar navbar-default navbar-fixed-bottom text-center" ng-if="menuScroll == false">

      <div class="container-fluid" style="display: inline-block; text-align: center;">
        <div class="navbar-header">
          <ul class="nav navbar-nav">
            <li ng-repeat="category in categories"><a href='' ng-click="gotoAnchor(category.name)">{{ category.name }}</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>


  <div class="container-fluid" style="padding: 0; margin: 0">
    <nav id="solidNavbarmenu" class="navbar navbar text-center"  sticky offset="49" ng-if="menuScroll == true">
      <div class="container-fluid" style="display: inline-block; text-align: center;">
        <div class="navbar-header">
          <ul class="nav navbar-nav">
            <li ng-repeat="category in categories" ><a href='' ng-click="gotoAnchor(category.name)">{{ category.name }}</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- <div class="row">
      <button type="button" class="btn btn-info btn-lg pull-right" data-toggle="modal" data-target="#myModal">Basket</button>
      <h1> {{ message }} </h1>
    </div> -->
    <div class="row" ng-repeat="category in categories" style="margin: 2% 5%;">
      <div>
        <h2 class="categorySeperator" id="{{ category.name }}" style=" margin-bottom: 1%;">{{ category.name }}</h2>

        <div class="col-sm-6 col-md-4" ng-repeat="product in products track by $index" ng-if="category.id == product.category_id">
          <div class="thumbnail">
            <img ng-src="{{product.img_path}}">
            <div class="caption">
              <h3>{{ product.name }}</h3>
              <p>{{ product.description }}</p>
              <div class="clearfix">
                <div class="price pull-left">${{ product.price }}</div>
                <a class="btn btn-default pull-right" role="button" ng-click="addToCheckout(product.id)" data-toggle="modal" data-target="#myModal">Add</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>




