<div id="mainHeader">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="transparentNavBar" ng-show="transparentNav == true">
      <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a href="/#/menu"><div class="navbar-brand navbar-brand-centered headerMenuLink">M E N U</div></a>
      </div>
        <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-brand-centered">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button> -->
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar-brand-centered">
        <ul class="nav navbar-nav">
          <a href="/" class="navbar-brand" ><span>s i m p l y l i f e</span></a>
        </ul>
        <ul class="nav navbar-nav navbar-right">
           <li>
              <a href="" data-toggle="modal" data-target="#myModal">
                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"><lavel id="cart-badge" class="badge badge-warning" ng-if="checkoutList.length > 0">{{ checkoutList.length }}</lavel></span>
              </a>

            </li>
            <li class="dropdown">
              <a href="" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">
                <span class="glyphicon glyphicon-user" aria-hidden="true" ></span>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li ng-hide="user.loggedin"><a href="" data-toggle="modal" data-target="#loginModal">Log In</a></li>
                <li ng-hide="user.loggedin"><a href="" data-toggle="modal" data-target="#signupModal">Sign Up</a></li>
                <li ng-show="user.loggedin"><a href="" data-toggle="modal" data-target="#profileModal" ng-click="getUserdetails()">Profile</a></li>
                <li ng-show="user.loggedin"><a href="" ng-click="logout()" >Log Out</a></li>
              </ul>
            </li>
        </ul>
      </div>
    </div>
  </nav>

  <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="solidNavBar" ng-show="transparentNav == false">
      <div class="container-fluid">

      <div class="navbar-header">
        <a href="/#/menu"><div class="navbar-brand navbar-brand-centered  headerMenuLink">M E N U</div></a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-brand-centered">
        <ul class="nav navbar-nav">
          <a href="/" class="navbar-brand" ><span>s i m p l y l i f e</span></a>
        </ul>
        <ul class="nav navbar-nav navbar-right">
           <li>
              <a href="" data-toggle="modal" data-target="#myModal">
                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"><lavel id="cart-badge" class="badge badge-warning" ng-if="checkoutList.length > 0">{{ checkoutList.length }}</lavel></span>
              </a>
            </li>
            <li class="dropdown">
              <a href="" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">
                <span class="glyphicon glyphicon-user" aria-hidden="true" ></span>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li ng-hide="user.loggedin"><a href="" data-toggle="modal" data-target="#loginModal">Log In</a></li>
                <li ng-hide="user.loggedin"><a href="" data-toggle="modal" data-target="#signupModal">Sign Up</a></li>
                <li ng-show="user.loggedin"><a href="" data-toggle="modal" data-target="#profileModal" ng-click="getUserdetails()">Profile</a></li>
                <li ng-show="user.loggedin"><a href="" ng-click="logout()" >Log Out</a></li>
              </ul>
            </li>
        </ul>
      </div>
    </div>
  </nav>
  <div ui-view></div>
  <!-- Modal -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Your Basket</h4>
        </div>
        <div class="modal-body" >
          <div ng-if="checkoutList.length < 1"> <h1>Cart is Empty</h1></div>
           <div class="row modalTableTitle" ng-if="checkoutList.length >= 1">
            <div class="col-md-8 "><strong>Product</strong></div>
            <div class="col-md-3 "><strong>Price</strong></div>
            <div class="col-md-1"><strong>Delete</strong></div>
          </div>
          <div class="row modalRow" ng-repeat="product in checkoutList track by $index">
            <div class="col-md-3">
              <img class="modalImg" ng-src="{{product.img_path}}">
            </div>
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-8">
                <h5>{{ product.name }}</h5>
                </div>
                <div class="col-md-4">
                  <h5>${{ product.price }}.00</h5>
                </div>
              </div>
            </div>
            <div class="col-md-1">
              <div class="deleteSibling"></div>
              <button ng-click="deleteItem($index)" class="modalDeleteButton"><strong>X</strong></button>
            </div>

        </div>

        <div class="modal-footer">
          <div class="clearfix">
            <div class="row">
              <div class="clearfix orderTotal">
                <div class="pull-left">Order Total:</div>
                <div class="pull-right">${{ checkoutTotal() }}.00</div>
              </div>
            </div>
            <div class="text-center">
              <a href="" data-toggle="modal" data-target="#loginModal" ng-hide="user.loggedin"><button class="btn btn-primary modalButtons" data-dismiss="modal">Log In</button></a>
              <a href="" data-toggle="modal" data-target="#signupModal" ng-hide="user.loggedin"><button class="btn btn-primary modalButtons" data-dismiss="modal">Sign Up</button></a>
              <a href="/#/checkout" ng-show="user.loggedin" ng-if="checkoutList.length >= 1"><button class="btn btn-primary modalButtons" ng-click="saveCheckoutList()">Checkout</button></a>
              <a href="" ng-click="modalRedirect('menu')" ng-if="checkoutList.length < 1"><button class="btn btn-primary modalButtons" ng-click="saveCheckoutList()" data-dismiss="modal">Add Something To Your Cart :)</button></a>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>

  <div id="loginModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Log In</h4>
          </div>
          <div class="modal-body" >
            <form ng-submit="login()" role="form" ng-init="loginForm = {}">
              <div class="form-group">
                <label>Email</label>
                <input type="email" name="email" ng-model="loginForm.email" required="required" class="form-control" placeholder="Enter Email"/>
              </div>

              <div class="form-group">
                <label>Password</label>
                <input type="password" name="password" ng-model="loginForm.password" required="required" class="form-control" placeholder="Enter Password"/>
              </div>
              <button type="submit" class="hide">Log In</button>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" ng-click="login()" data-dismiss="modal">Log In</button>

        </div>
      </div>
    </div>
  </div>

  <div id="signupModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Sign Up</h4>
          </div>
          <div class="modal-body" >
            <form ng-submit="signup()" role="form" ng-init="registrationForm = {}">

              <div class="form-group">
                <label>Email</label>
                <input type="email" name="email" ng-model="registrationForm.email" required="required" class="form-control" placeholder="Enter Email"/>
              </div>

              <div class="form-group">
                <label>Password</label>
                <input type="password" name="password" ng-model="registrationForm.password" required="required" class="form-control" placeholder="Enter Password"/>
              </div>

              <div class="form-group">
                <label>password Confirmation</label>
                <input type="password" name="password_confirmation" ng-model="registrationForm.password_confirmation" required="required" class="form-control" placeholder="Enter Password Confirmation"/>
              </div>

              <button type="submit" class="hide">Register</button>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" ng-click="signup()" data-dismiss="modal">Sign Up</button>

        </div>
      </div>
    </div>
  </div>
  <div id="profileModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"> {{ userInfo.email }} </h4>
          </div>
          <div class="modal-body" >
            <h4>Reset Rassword</h4>
            <p> ******* </p>
            <hr>
            <h4>Order History</h4>
            <a href="" ng-click="show()" ng-if="!showing">Show</a>
            <a href="" ng-click="showMe()" ng-if="showing">Hide</a>
            <div ng-if="showme" ng-repeat="order in orderHistory track by $index">
              <div ng-if="orderHistory.length >= 1">
                <h4>{{ order.id }} - {{ order.pickup_code }}</h4>
                <i><p> {{ localTime(order.pick_up_time)}}</p></i>
                <h5 ng-repeat="product in order.products track by $index">{{product.name}}</h5>
              </div>
              <div ng-if="orderHistory.length < 1"> You have no orders yet</div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" ng-click="logout()" data-dismiss="modal">Sign out</button>

        </div>
      </div>
    </div>
  </div>
</div>

