// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//header page >> abstract
  #mainHeader {
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    overflow-x: hidden;
    .navbar-brand-centered {
        position: absolute;
        left: 50%;
        display: block;
        width: 160px;
        text-align: center;
    }
    .navbar>.container .navbar-brand-centered,
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: -80px;
    }
    #transparentNavBar {
      height:50px;
      background-color: rgba(0,0,0,0);
      border-bottom-width: 1px;
      border-color: rgba(255,255,255, 0.3);
      .headerMenuLink {
        color: white;
        font-size: 160%;
      }

      span {
        color: white;
        font-size: 20px;
      }
    }
    #solidNavBar {
      height:50px;
      background-color: rgb(255,255,255);
      border-color: rgba(1,1,1,0.3);
      a {
        color: #333333;
      }
      .headerMenuLink {
        color: #333333;
      }
    }
    .badge {
      border-radius: 9px;
      font-size: 13px;
      padding-top: 0;
    }
    .modalRow {
      margin: 10px 10px;
    }

    .modalImg {
      width: 80px;
      max-height: 50px;
    }

    .modalDeleteButton:hover {
      opacity: 0.1;

    }

    .modalButtons {
      margin-top: 20px;
      margin-right: 0;
      margin-left: 0;
    }

    .modalTableTitle{
      margin: 10px 25px 0px 13px;
    }
  }

//index >> static
  #homeContainer {
    overflow: hidden;

    padding: 0;
    height: 100vh;
    #homeBackground {
      width: auto;
      height: 100vh;
      min-width: 100vw;

      // min-height: auto;
      position:relative;
      opacity: 0.9;
      filter: brightness(44%);
    }
    #homeWelcome {
      float: center;
      position: absolute;
      margin-left: -270px;
      left: 50vw;
      top: 25vh;
      z-index: 1000;
    }
    #homeCallToAction {
      color: white;
      border: solid white 2px;
      height: 40px;
      width: 210px;
      float: center;
      position: absolute;
      margin-left: -103px;
      left: 50vw;
      top: 85vh;
      background-color: rgba(0,0,0,0.2)
    }
  }

// menu >> customer
  #menuBannerContainer {
    overflow: hidden;
    padding: 0;
    height: 100vh;
    #menuBannerImg {
      width: 110%;
      height: 100vh;
      position:relative;
      opacity: 0.9;
      filter: brightness(54%);
    }
    #menuQuote {
      float: center;
      position: absolute;
      margin-left: -483.8px;
      left: 50vw;
      top: 33vh;
      z-index: 1000;
      // background-color: rgba(0,0,0,0.2);
      img {
        width: 120%;
        border: solid 1px;
        border-color: rgba(255,255,255, 0.8);
      }
    }
    #transparentNavbarmenu {
      height:50px;
      position: absolute;
      bottom: 0;
      text-align: center;
      background-color: rgba(0,0,0,0);
      border-radius: 0;
      border: 0;
      #innerTransparentNavbarmenu {
        display: inline-block;
        text-align: center;
      }
      a {
        color: white;
        font-size: 1em;
        font-family: Helvetica, sans-serif;
        font-weight: lighter;
        margin: 0 20px;
        text-transform: uppercase;
      }
    }
  }
  #solidNavbarmenu {
    // margin: 0;
    // padding: 0;
    height:50px;
    text-align: center;
    border-color: rgba(0,0,0,0.1);
    border-radius: 0;
    background-color: white;
    a {
      color: gray;
      font-size: 1em;
      font-family: Helvetica, sans-serif;
      font-weight: lighter;
      margin: 0 20px;
      text-transform: uppercase;
    }
  }
  #menuMain {
    background-color:rgb(248,248,246);
    padding: 0;
    margin: 0;
    nav > div {
      display: inline-block;
      text-align: center;
    }
  }
// // // CATEGORY SEPERATOR
.categorySeperator {
  margin-top: 6%;
  padding: 0 3%;
}

.innerCategorySeperator {
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
  text-align: center;
  margin-bottom: 1%;
  color: #033961;
}

// // THUMBNAIL
.thumbnailOutter {
  margin-bottom: 10%;
}

.thumbnail {
  height: 100%;
  border-radius: 7px;
  border: 0;
  overflow: hidden;
  padding: 0;
}

.thumbnail:hover {
    box-shadow: 0 0 0 1px #033961;
}

.thumbnailImg > img {
  height: 260px;
  width: 100%;
}
.caption {
  padding: 0 4% !important;
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
  h3 {
    height: 45px;
  }

}

//checkout >> customer
#checkoutOrderSummary {
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  #checkoutContainer {
    margin: 0 auto;
    padding-top: 65px;
  }
  #checkoutTitle {
    margin-bottom: 10px;
  }
  #paymentCol {
    padding-left: 40px;
    padding-bottom: 10px;
    border: solid gray 1px;
    border-radius: 10px;

  }
  #foodCol {
    // padding-right: 40px;
    border: solid gray 1px;
    border-radius: 10px;
    padding-top: 10px;
    .tableTitle{
      margin: 10px 25px 0px 30px;
    }
    .orderTotal {
      margin: 0 50px 10px 50px;
    }

  }

  .checkoutLine {
    margin: 15px 25px
  }
  .checkoutRow {
    margin-bottom: 13px;
    margin-right: 5px;
    margin-left: 5px;

    .checkoutImg {
      display: table;
      margin: 0 auto;
      width: 130px;
      max-height: 100px;
    }
  }
  #paypalDiv {
    margin-right: 30px;
  }

  #orderSummaryContainer {
    padding: 65px;
    #orderSummaryHeader {
      margin: 0 3%;
    }
    #foodCol {
    margin: 0 3%;
    border: solid gray 1px;
    border-radius: 10px;
    padding-top: 10px;
      .tableTitle{
        margin: 10px 25px 0px 30px;
      }
      .orderTotal {
        margin: 0 50px 10px 50px;
      }
    }
  }

  #orderSummaryDetails {
    display: table;
    margin: 0 auto;
  }
  #outterLoader {
    top: 0;
    left: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.3)
  }
  .loader {
    position: absolute;
    left: 48%;
    top: 40%;
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #3498db;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 0.7s linear infinite;
    animation: spin 0.7s linear infinite;
  }

  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
}

//order dashboard >> restaurant
#orderDashboardContainer {
  max-height: 100vh;
  overflow: hidden;

  nav > div {
    display: inline-block;
    text-align: center;
  }
  .navbar-nav {
     height: 50px;
     a{
      padding: 5px 40px;
    }
    .glyphicon-user{
      padding-top: 5px;
      font-size: 38px;
    }
    img{
      height: 50px;
      padding: 0;
      margin: 0;
    }
  }
  .perIncomingOrder, .perPreparingOrder, .perFinishedOrder, .perPickedUpOrder {
    border: solid gray 2px;
    margin: 5px 0;
    border-radius: 7px;
    padding: 5px 5px;
  }

  .perSearchResult {
    border: solid gray 2px;
    border-radius: 7px;
    margin: 5px 0;
    padding: 0 20px;
  }

  #innerIncomingOrders, #innerPreparingOrderBox, .innerFinishedOrderBox, #innerPickUpSearchBox, #innerPickedUpBox{
    border: solid gray 2px;
    border-radius: 5px;
    padding: 10px 20px;
    max-height: 85vh;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}
