// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#mainHeader {
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;

  .navbar-brand-centered {
      position: absolute;
      left: 50%;
      display: block;
      width: 160px;
      text-align: center;
  }
  .navbar>.container .navbar-brand-centered,
  .navbar>.container-fluid .navbar-brand-centered {
      margin-left: -80px;
  }
  #mainNavBar {
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: rgba(0,0,0,0.0);
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    border-bottom-width: 1px;
    border-color: rgba(255,255,255, 0.3);
    span {
      color: white;
      font-size: 20px;
    }
  }
  #menuNav {
    color: white;
    font-size: 160%;
  }
}
  #homeContainer {
    overflow: hidden;

    padding: 0;
    height: 95vh;
    #homeBackground {
      width: 105%;
      height: auto;
      position:relative;
      opacity: 0.9;
      filter: brightness(48%);
    }
    #homeWelcome {
      float: center;
      position: absolute;
      left: 30%;
      top: 25%;
      z-index: 1000;
    }
  }

  #menuBannerContainer {
    overflow: hidden;
    padding: 0;
    height: 95vh;
    // background-repeat: no-repeat;
    // background-color: rgba(0,0,255,0.3);
    // background-position: center bottom;width: 100%;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    #menuBannerImg {
      margin-top: -120px;
      width: 105%;
      height: auto;
      position:relative;
      opacity: 0.9;
      filter: brightness(54%);
    }
    // #homeWelcome {
    //   float: center;
    //   position: absolute;
    //   left: 30%;
    //   top: 25%;
    //   z-index: 1000;
    // }
  }

// html{
//   background-image: url("http://www.landmark.hk/en/~/media/images/landmark/shopping/shopdetail/slider/simplylife_1.jpg");
//   background-repeat: no-repeat;
//   background-attachment: fixed;
//   background-position: center;
//   background-size: 100% 100%;
// }

// body {
//   background:rgba(255,255,255,0.5);
//   background-size: 100% 100%;
// }
/* CATEGORY SEPERATOR */

.categorySeperator {
  text-align: center;
}

/* THUMBNAIL */

.thumbnail {
  padding: 0;
}

.thumbnail img {
  height: 30%;
  width: 100%;
}

.modal_img {
  height: 60px;
}

// .thumbnail .description {
//   color: #7f7f7f;
// }

// .price {
//   font-weight: bold;
//   font-size: 16px;
// }