<!DOCTYPE html>
<html ng-app='pick_up_food'>
  <head>
    <title>PickUpFood</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body ui-view>
    <%= yield %>
  </body>
</html>
